.container {
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--surface-shadow-color);
  border-radius: 0.5rem;
  color: var(--surface-text-secondary-color);

  &:focus {
    outline: none;
    border: 1px solid var(--surface-text-tertiary-color);
  }

  &::placeholder {
    color: var(--surface-text-tertiary-color);
  }
}