.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  button {
    padding: 0;
    margin: 0;
    border: none;
    font-weight: bold;
    background-color: var(--surface-background-color);
    box-shadow: 0 0 0.25rem var(--surface-shadow-color);
    color: var(--surface-text-secondary-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled {
      box-shadow: none;
      font-weight: normal;
      color: var(--surface-text-tertiary-color);
    }
  }

  label {
    padding: 0 1rem;
    font-size: 0.8em;
    color: var(--surface-text-tertiary-color);
  }
}